<%- include('_common/includes/head') %>
</head>

<body>
    <%- include('_common/includes/header') %>

    <h1>Some Error occurred</h1>
    <h5>sorry for error we are working on it.</h5>
</body>

</html>