<form action="/add-to-cart" method="POST">
  <% if(isLoggedIn) { %>
    <input type="hidden" name="_csrf" value="<%= csurfToken %>" />
    <button class="btn">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>" />
    <% } %>
</form>